body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  align-items: center;
  gap: 3.125rem;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

main {
  display: grid;
  max-width: 62.5rem;
  width: 100%;
  grid-template-columns: 1fr;
  margin: 0 auto;
  position: relative;
}

.marca {
  text-align: center;
  padding: 1rem;
  margin-top: 1.5rem;
}

.links {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.links a:hover {
  border: 2px solid red;
}

.links a {
  font-size: 1.25rem;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: white;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border: 2px solid white;
}

.bicicleta {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.nimbus {
  background: white;
  line-height: 1;
  border-radius: 8px;
  grid-column: 1;
  text-align: right;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.nimbus::before {
  content: "";
  display: block;
  height: 4px;
  width: 3.75rem;
  background-color: red;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
}

.nimbus h2 {
  font-size: 2rem;
  font-weight: 600;
}

.imgbicicleta img {
  width: 100%;
  height: auto;
  display: block;
}

.nimbus-vermais {
  background-color: #ee2211;
  padding: 1rem;
  width: fit-content;
  display: flex;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.nimbus-vermais:hover {
  background-color: #900;
}

.vantagens-lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 2.5rem;
}
.caracteristica h1 {
  background-image: url(./img/onda.svg);
  color: #c6c6c6;
  font-size: 4rem;
  padding: 2.5rem;
}

.caracteristica {
  border-radius: 8px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 50%);
}
.caracteristicas-item {
  width: 21, 875rem;
  position: relative;
  line-height: 1;
  padding-left: 30px;
  padding: 32px;
  border-left: 4px solid transparent;
}
.caracteristicas-item img {
  position: absolute;
  left: 0px;
  top: 29px;
}
.caracteristica .caracteristicas-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.caracteristicas-item:hover {
  border-left: 4px solid #e21;
}

footer {
  background-color: white;
  text-align: center;
  padding: 0.5rem;
}
@media (max-width: 1024px) {
  main {
    grid-template-columns: 1fr;
  }
  .caracteristica h1 {
    font-size: 3rem;
    text-align: center;
  }
  .caracteristica {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
  }
  .imgbicicleta img {
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .links {
    flex-wrap: wrap;
  }
  .bicicleta {
    display: grid;
    grid-template-columns: 100%;
  }

  .nimbus {
    width: calc(100% - 5rem);
    padding: 2.5rem;
  }
}
